body {
  margin: 0;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

textarea {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.ui.buttons.dark.gray > .ui.button,
.ui.button.dark.gray {
  background-color: #616161;
  color: #FFFFFF;
}

.ui.button.basic.borderless,
.ui.button.basic.borderless:hover,
.ui.button.basic.borderless:focus {
  border: none !important;
  box-shadow: none !important;
}

.list > .header > .ui.grid .row > .column > .ui.menu input {
  background: transparent;
}

.list.data-table-column-selector > table.ui.sortable {
  border: none;
}

.list.data-table-column-selector > table.ui.sortable > thead > tr > th {
  background-color: #f6f6f6;
  border: none;
}

.list.data-table-column-selector > table.ui.sortable > tbody > tr > td:first-child {
  border-left: 1px solid rgba(34, 36, 38, 0.1);
}

.list.data-table-column-selector > table.ui.sortable > tbody > tr > td:last-child {
  border-right: 1px solid rgba(34, 36, 38, 0.1);
}

.list.data-table-column-selector > table.ui.sortable > tbody > tr:first-child > td {
  border-top: 1px solid rgba(34, 36, 38, 0.1);
}

.list.data-table-column-selector > table.ui.sortable > tbody > tr:last-child > td {
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
}

.dropdown-button.ui.buttons > .ui.dropdown:last-child .menu.right {
  left: 0;
  right: auto;
}

.association-dropdown > .ui.buttons > .ui.basic.button:hover {
  background: unset !important;
}

.ui.modals > .ui.modal > .actions,
.ui.modals > .ui.modal > .content,
.ui.modals > .ui.modal > .header {
  background-color: #f6f6f6;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.embedded-list {
  margin-bottom: 1.5em;
}

.list.data-table-column-selector > table.ui.sortable > tbody > tr > td.actions-cell > .ui.button {
  border: none;
  box-shadow: none;
}

.list.data-table-column-selector > .header > .ui.grid > .row > .column > .ui.menu .ui.button:focus,
.list.data-table-column-selector > .header > .ui.grid > .row > .column > .ui.menu .ui.button:hover {
  background-color: transparent !important;
}

.list.compact.data-table-column-selector > .header > .ui.grid > .row > .column > .ui.menu > .menu.list-header-menu > .configure-button.ui.button {
  border: none;
  box-shadow: none;
}

.list.compact.data-table-column-selector > .header > .ui.grid > .row > .column > .ui.menu > .menu.list-header-menu > .configure-button.ui.button:hover {
  background-color: transparent !important;
}

.list.data-table-column-selector > table.ui.sortable > thead > tr > th.select-cell {
  width: 1px;
}

.list.compact.data-table-column-selector > table.ui.sortable > thead > tr > th {
  color: #616161;
  font-size: 12px;
  padding: 0.5em;
}

.list.compact.data-table-column-selector > table.ui.sortable > tbody > tr > td:not(.actions-cell) {
  padding: 0.4em 0.4em 0.4em 1em;
}

.list.compact.data-table-column-selector > table.ui.sortable > tbody > tr > td.actions-cell {
  padding: 0.4em;
}

.ui.form .maplibregl-control-container form .input-group > input {
  border: none;
}

.list.compact > .item-list > .ui.cards > .ui.card > .extra > .ui.button {
  border: none;
  box-shadow: none !important;
}

.media-contents-selector .lazy-image {
  border: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.media-contents-selector .item-list .cards > .card > .content {
  max-width: 100%;
}

.media-contents-selector .item-list .cards .lazy-image > .image {
  width: 100%;
}

.media-contents-selector .item-list .items > .item > .image {
  width: unset;
}

.media-contents-selector .list > .header input {
  margin-right: -1em;
}

.ui.dropdown > .filtered.text {
  width: calc(100% - 40px);
  -webkit-line-clamp: 1;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}