############################
# core-data-cloud environment
############################

# Length of JWT expiration in hours
# Recommeded: 24
AUTHENTICATION_EXPIRATION=24

# AWS credentials for Active Storage
AWS_ACCESS_KEY_ID=abcdefg
AWS_SECRET_ACCESS_KEY=hijklmnop
AWS_REGION=us-east-1
AWS_BUCKET_NAME=core-data-cloud

# In Docker compose mode, this is the location on the docker host where DB data should be stored. This option is
# not used outside of Docker.
DATABASE_VOLUME=./tmp/db

# Username used to connect to the database.
DATABASE_USERNAME=postgres

# Password used to connect to the database.
DATABASE_PASSWORD=password

# Maximum size of the database connection pool
DATABASE_POOL=100

# Name of the database.
DATABASE_NAME=db

# API to access IIIF Cloud.
IIIF_CLOUD_API_KEY=12345

# The URL of the IIIF Cloud instance.
IIIF_CLOUD_URL=https://iiif-cloud-staging.herokuapp.com/

# The ID of the project in IIIF Cloud in which to store resources.
IIIF_CLOUD_PROJECT_ID=1

# In staging and test environments, the application will be allowed to send emails to this domain.
MAILSAFE_ALLOWED_DOMAIN=@example.com

# In staging and test environments, emails to all domains (not listed above) will be redirected to this address.
MAILSAFE_REDIRECT_ADDRESS=core-data@example.com

# Port to use for the Rails API.
PORT=3001

# Postmark API token.
POSTMARK_API_TOKEN=abc123

# Postmark "from" email. This address must be setup in the "Send Signatures" section of PostMark.
POSTMARK_FROM=no-reply@app.coredata.cloud

# Postmark email interval (in hours). The application will not allow users to send multiple
# emails within this interval.
POSTMARK_INTERVAL=24

# Rails environment
RAILS_ENV=development

# A base secret for Rails.
SECRET_KEY_BASE=339485u34895u4398u58394u543u59834u958u347y62347632t47235467235674

# API Key to access Typesense backend.
TYPESENSE_API_KEY=xyz

# In Docker compose mode, this is the location on the docker host where Typesense data should be stored. This option is
# not used outside of Docker.
TYPESENSE_VOLUME=./tmp/typesense

# The hostname of the Core Data Cloud CMS
VITE_HOSTNAME=http://localhost:3001
HOSTNAME=http://localhost:3000

# Maximum number of items that can exist in a IIIF manifest.
VITE_IIIF_MANIFEST_ITEM_LIMIT=1000

# MapTiler API key.
VITE_MAP_TILER_KEY=abc

# Port to use for the Vite dev server.
VITE_PORT=3000

# Postmark email interval (in hours). The application will not allow users to send multiple
# emails within this interval.
VITE_POSTMARK_INTERVAL=24

# URL to proxy dev server requests.
VITE_PROXY_URL=http://localhost:3001

# Authentication provider - can be either clerk or local
# Defaults to local if this variable isn't provided
VITE_AUTH_PROVIDER=clerk

# Clerk config (only needed if using Clerk for authentication)
VITE_CLERK_PUBLISHABLE_KEY=my_key
CLERK_SECRET_KEY=my_super_secret_key
VITE_CLERK_SIGN_IN_URL=https://staging.performant.studio/sso
VITE_CLERK_SIGN_IN_FORCE_REDIRECT_URL=http://localhost:3000/projects
VITE_CLERK_IS_SATELLITE=true
VITE_CLERK_DOMAIN=staging.performant.studio

# Vite environment
VITE_ENV=development

# The variables below are only used by the Clerk migration Rake task

# The default organization to add users to in the Clerk migration script
CLERK_MIGRATION_DEFAULT_DOMAIN=performantsoftware.com
# The domain whose users should be configured as global admins in the Clerk migration script
CLERK_MIGRATION_GLOBAL_ADMIN_DOMAIN=performantsoftware.com
