.projectImport > .ui.segments > .ui.segment {
  display: block;
  text-align: left;
  width: 100%;
}

.projectImport > .ui.segments > .ui.segment::before {
  border: none;
  margin: 0px;
}

.projectImport > .ui.segments > a.ui.segment:hover {
  background-color: #cacbcd;
  background-image: none;
  color: #000c;
}