.project .ui.message > .content > .header {
  margin-bottom: 0.5rem;
}

.project .section {
  margin-top: 3em;
}

.project .ui.segment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project .ui.segment > .ui.small.header {
  margin: 0px;
}

.project .ui.segment > .ui.small.header > div {
  margin-top: 0.5em;
}

.project .ui.segment > .ui.button {
  height: fit-content;
}