.relatedMediaContent .imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.relatedMediaContent .imageContainer .header {
  margin-top: 0px;
}