.importModal {
  min-width: 90vw;
}

.importModal > .content  {
  min-height: 50vh;
}

.importModal > .content .duplicatesCheckbox {
  margin-left: 1em;
}

.importModal > .content .cell {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}