.layout > .contentContainer {
  padding: 1em 4em 1em 4em;
}

.layout > .contentContainer {
  background-color: #f6f6f6;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  height: 100%;
  padding-bottom: 4em;
}