.mergeTable {
  overflow: auto;
  width: 100%;
  max-height: 65vh;
}

.mergeTable .listButton.ui.button {
  border: none;
  box-shadow: none;
}

.mergeTable .listButton.ui.button:active,
.mergeTable .listButton.ui.button:focus,
.mergeTable .listButton.ui.button:hover {
  background-color: transparent !important;
  border: none;
  box-shadow: none;
}

.mergeTable > table {
  table-layout: auto;
  position: relative;
  margin-bottom: 1em;
}

.mergeTable > table > thead > tr > th {
  position: sticky;
  top: 0;
  z-index: 2;
}

.mergeTable > table > tbody > tr > td,
.mergeTable > table > thead > tr > th {
  min-width: 200px;
}

.mergeTable > table > tbody > tr > td:first-child,
.mergeTable > table > thead > tr > th:first-child {
  position: sticky;
  left: 0px;
  z-index: 1;
}

.mergeTable > table > thead > tr > th:first-child {
  z-index: 3
}

.mergeTable > table > tbody > tr > td:nth-child(2),
.mergeTable > table > thead > tr > th:nth-child(2) {
  position: sticky;
  left: 200px;
  z-index: 1;
  border-right: solid 2px #f6f6f6;
}

.mergeTable > table > thead > tr > th:nth-child(2) {
  z-index: 3;
}

.mergeTable > table > thead > tr > th > .mergeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mergeTable > table > thead > tr > th > .recordHeader {
  display: flex;
  align-items: center;
}

.mergeTable > table > thead > tr > th .ui.header {
  margin-bottom: 0px;
  margin-top: 0px;
}

.mergeTable > table > tbody > tr > td > .attributeValue {
  display: flex;
  align-items: flex-start;
}

.mergeTable > table > tbody > tr > td > .attributeValue.selected {
  justify-content: space-between;
}

.mergeTable > table > tbody > tr > td {
  background-color: #FFFFFF;
}

.mergeTable > table > tbody > tr > td > .icon {
  margin-left: 0.5em;
}