.sidebar.ui.vertical.menu {
  background-color: #1b369f;
  border: none;
  color: #FFFFFF;
}

.sidebar.ui.vertical.menu > .item {
  color: #FFFFFF;
}

.sidebar.ui.vertical.menu {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}