.webIdentifierDropdown.ui.dropdown.search.selection > .menu > .item {
  display: flex;
  align-items: center;
}

.webIdentifierDropdown.ui.dropdown.search.selection > .menu > .item.active {
  background: rgba(0, 0, 0, 0.05);
}

.webIdentifierDropdown.ui.dropdown.search.selection > .menu > .item > .optionContainer {
  flex-grow: 1;
}